# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\Ironhack\week 3\lab-dataframe-calculations\your-code\Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
pokemon = pd.DataFrame(pokemon)

unique_types_1 = pokemon['Type 1'].unique()  
unique_types_2 = pokemon['Type 2'].unique() 

all_unique_types = pd.unique(pd.concat([pokemon['Type 1'], pokemon['Type 2']]))  

all_unique_types

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
def clean_pokemon_name(name):
    if "Mega" in name:
        idx = name.find("Mega")
        return name[idx:]
    else:
        return name

pokemon['Name'] = pokemon['Name'].apply(clean_pokemon_name)


print(pokemon[['Name', 'Type 1', 'Type 2']])

pokemon.head(10)

                    Name   Type 1  Type 2
0              Bulbasaur    Grass  Poison
1                Ivysaur    Grass  Poison
2               Venusaur    Grass  Poison
3          Mega Venusaur    Grass  Poison
4             Charmander     Fire     NaN
..                   ...      ...     ...
795              Diancie     Rock   Fairy
796         Mega Diancie     Rock   Fairy
797  HoopaHoopa Confined  Psychic   Ghost
798   HoopaHoopa Unbound  Psychic    Dark
799            Volcanion     Fire   Water

[800 rows x 3 columns]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
pokemon['Attack']/pokemon['Defense']
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
max_ratio = pokemon['A/D Ratio'].max()

poke_max= pokemon[pokemon['A/D Ratio'] == max_ratio]

print (poke_max[['Name','A/D Ratio']])

                   Name  A/D Ratio
429  DeoxysAttack Forme        9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
min_ratio = pokemon['A/D Ratio'].min()

poke_min= pokemon[pokemon['A/D Ratio'] == min_ratio]

print (poke_min[['Name','A/D Ratio']])

        Name  A/D Ratio
230  Shuckle   0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
def combo_type(type1, type2):
    if pd.notna(type2): 
        return f"{type1}-{type2}"
    else: 
        return type1

pokemon['Combo Type'] = pokemon.apply(lambda row:combo_type(row['Type 1'], row['Type 2']), axis=1)

print(pokemon[['Name', 'Type 1', 'Type 2', 'Combo Type']])

                    Name   Type 1  Type 2     Combo Type
0              Bulbasaur    Grass  Poison   Grass-Poison
1                Ivysaur    Grass  Poison   Grass-Poison
2               Venusaur    Grass  Poison   Grass-Poison
3          Mega Venusaur    Grass  Poison   Grass-Poison
4             Charmander     Fire     NaN           Fire
..                   ...      ...     ...            ...
795              Diancie     Rock   Fairy     Rock-Fairy
796         Mega Diancie     Rock   Fairy     Rock-Fairy
797  HoopaHoopa Confined  Psychic   Ghost  Psychic-Ghost
798   HoopaHoopa Unbound  Psychic    Dark   Psychic-Dark
799            Volcanion     Fire   Water     Fire-Water

[800 rows x 4 columns]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [10]:
pokemon_sorted = pokemon.sort_values(by='A/D Ratio', ascending=False) 

top_5_pokemon = pokemon_sorted.head(5)

top_5_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [13]:
unique_combo_types = top_5_pokemon['Combo Type'].tolist()

print("Unique Combo Type values of the top 5 Pokémon by A/D Ratio:")
print(unique_combo_types)

Unique Combo Type values of the top 5 Pokémon by A/D Ratio:
['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

TypeError: agg function failed [how->mean,dtype->object]